<!DOCTYPE html>
<html>
  <head>
    <title>Showdown Saturday Results</title>
    <%- include ("../partials/header.ejs") %>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <h1>Showdown Saturday Results</h1>
      </div>
    </div>

    <div class="container">
      <div class="col-1 text-left">
        <button id="exporttable" class="btn btn-primary my-2">Export</button
        ><br />
      </div>
    </div>

    <div class="container">
      <table class="table" id="contestantTable">
        <thead>
          <tr>
            <th>Gamertag</th>
            <th>Base XP</th>
            <th>Tank</th>
            <th>Damage</th>
            <th>Assist</th>
            <th>Twitter Handle</th>
            <th>Time Played</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < playerStats.length; i++) { %>
          <tr>
            <td><%= playerStats[i][0].name %></td>
            <td><%= playerStats[i][0].xp %></td>
            <td><%= playerStats[i][0].tank %></td>
            <td><%= playerStats[i][0].damageDealt %></td>
            <td><%= playerStats[i][0].vehicleDamageAssist %></td>
            <td><%= playerStats[i][1] %></td>
            <td><%= playerStats[i][2] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script>
      $(document).ready(function () {
        $("#contestantTable").DataTable();
      });
    </script>

    <script>
      $(function () {
        $("#exporttable").click(function (e) {
          var table = $("#contestantTable");
          if (table && table.length) {
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename:
                "Showdown" +
                new Date().toISOString().replace(/[\-\:\.]/g, "") +
                ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false,
            });
          }
        });
      });
    </script>
  </body>
</html>
