<!DOCTYPE html>
<html>
  <head>
    <title>Showdown Saturday Results</title>
    <%- include ("../partials/header.ejs") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
    ></script>
  </head>
  <body>
    <h1>Showdown Saturday Results</h1>

    <table
      class="table table-striped"
      id="contestantTable"
      data-toggle="contestantTable"
    >
      <thead>
        <tr>
          <th>Gamertag</th>
          <th data-field="XP" data-sortable="true">Base XP</th>
          <th>Tank</th>
          <th>Twitter Handle</th>
          <th>Time Played</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < playerStats.length; i++) { %>
        <tr>
          <td><%= playerStats[i][0].name %></td>
          <td><%= playerStats[i][0].xp %></td>
          <td><%= playerStats[i][0].tank %></td>
          <td><%= playerStats[i][1] %></td>
          <td><%= playerStats[i][2] %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script>
      $(document).ready(function () {
        $("#contestantTable").DataTable();
      });
    </script>
  </body>
</html>
